@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.MuiPickersDay-root {
  border-radius: 50% !important;
}

.Mui-selected {
  background-color: #1d273d !important;
}

.MuiPickersCalendarHeader-root {
  color: #1d273d !important;
  display: flex;
}

.MuiDateRangeCalendar-root {
  border-radius: 10px;
  background-color: #fff !important;
  padding: 1rem;
}
.css-1ny3jyh-MuiDateRangePickerDay-root{
  background-color: #e6eaed !important;
}
.css-1aqny2q-MuiPickersCalendarHeader-root {
  /* display: none !important; */
}